### Observations

Following are the observations from the different datasets:

#### Users Dataset:

1. Documentation says-  users.`role: constant value set to 'CONSUMER'`. But 2 unique values found in dataset.
2. SignUpSource, State and lastLogin has nan values.
3. The users table should only have unique user ids to avoid redundancy of data and efficient querying.
4. All dates are a numeric value. Unknown if dates were lost in conversion or dummy data.

#### Brands Dataset:

1. Brands dataset has no uniquely identifying attribute.
2. `brandCode` has missing/nan values.

#### Reciepts Dataset:

1. Some queries in Part 2 are based on `Status = 'Accepted'`. There is no such data in the dataset. Might be an data anomaly.
2. Multiple date columns. Based on what they represent and business cases some can may be dropped to reduce redundancy. <br>
e.g. `createDate`: The date that the event was created <br>
     `purchaseDate`: the date of the purchase<br>
In real world, most likely these should be the same date.

3. `recieptItemList` has non-uniform dictionaries. <br>
    a. `Item Number` which could be potential identifier for each recieptlistitem is sparsely populated. <br>
    b. Some have `barcode`, `finalPrice` while some don't making it difficult to check data integrity among sum of individual items in recieptItemList and compare against totalSpent in reciept.This data issue needs to be first taken care of before futher enhancing the user defined function to conduct data integrity checks.Similar checks can be designed for item quantity at receipt and receipt item levels too. <br>
    c. There are multiple price columns which mostly has same data e.g.`discountedItemPrice`, `finalPrice`, `itemPrice`, `targetPrice`

---

### Code used to analyse datasets

#### Imports

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

#### Load Data

In [2]:
users = pd.read_json('./data/users.json/users.json', lines=True)
brands = pd.read_json('./data/brands.json/brands.json', lines=True)
reciepts = pd.read_json('./data/receipts.json/receipts.json', lines=True)

#### Users Dataset Analysis

In [3]:
#Explore users dataset on  a high level
users.head(5)

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [4]:
users.dtypes

_id             object
active            bool
createdDate     object
lastLogin       object
role            object
signUpSource    object
state           object
dtype: object

In [5]:
users.shape

(495, 7)

In [6]:
non_dic_columns=['active','role','signUpSource','state']

print("Unique values in dict columns:")
for col in non_dic_columns:
    print(col,'---', users[col].unique())

Unique values in dict columns:
active --- [ True False]
role --- ['consumer' 'fetch-staff']
signUpSource --- ['Email' 'Google' nan]
state --- ['WI' 'KY' 'AL' 'CO' 'IL' nan 'OH' 'SC' 'NH']

In [7]:
def convert_to_string(val):
    return str(val)

users['id'] = users['_id'].apply(convert_to_string)

print('Unique user ids:', users.id.nunique())
print('Total user ids:', len(users.id))

Unique user ids: 212
Total user ids: 495

#### Structured Data of Users

In [8]:
df_users = pd.read_excel('./data/users.json/users.xlsx')
df_users

,id,stateID,isActive,dateLastLogin,dateCreated,signUpSource
0,5ff1e194b6a9d73a3a9f1052,WI,True,1.609688e+12,1609687444800,Email
1,5ff1e194b6a9d73a3a9f1052,WI,True,1.609688e+12,1609687444800,Email
2,5ff1e194b6a9d73a3a9f1052,WI,True,1.609688e+12,1609687444800,Email
3,5ff1e1eacfcf6c399c274ae6,WI,True,1.609688e+12,1609687530554,Email
4,5ff1e194b6a9d73a3a9f1052,WI,True,1.609688e+12,1609687444800,Email
...,...,...,...,...,...,...
490,54943462e4b07e684157a532,NaN,True,1.614963e+12,1418998882381,NaN
491,54943462e4b07e684157a532,NaN,True,1.614963e+12,1418998882381,NaN
492,54943462e4b07e684157a532,NaN,True,1.614963e+12,1418998882381,NaN
493,54943462e4b07e684157a532,NaN,True,1.614963e+12,1418998882381,NaN
494,54943462e4b07e684157a532,NaN,True,1.614963e+12,1418998882381,NaN

In [9]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             495 non-null    object
 1   stateID        436 non-null    object
 2   isActive       495 non-null    bool
 3   dateLastLogin  433 non-null    float64
 4   dateCreated    495 non-null    int64
 5   signUpSource   388 non-null    object
dtypes: bool(1), float64(1), int64(1), object(3)
memory usage: 19.9+ KB

In [22]:
for col in df_users.columns:
    print('Unique count of',col,'---', df_users[col].nunique())

Unique count of id --- 212
Unique count of stateID --- 7
Unique count of isActive --- 2
Unique count of dateLastLogin --- 172
Unique count of dateCreated --- 212
Unique count of signUpSource --- 4

#### Brands Dataset Analysis

In [31]:
brands.head(5)
brands.shape

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

(1167, 8)

In [26]:
brands.dtypes

_id              object
barcode           int64
category         object
categoryCode     object
cpg              object
name             object
topBrand        float64
brandCode        object
dtype: object

In [33]:
print('Unique count of Brands cols:')

brands[['barcode','name','brandCode']].nunique()

Unique count of Brands cols:

barcode      1160
name         1156
brandCode     897
dtype: int64

In [42]:
for col in ['barcode','name','brandCode']:
    print('Unique values of',col,'--- \n', brands[col].unique())

Unique values of barcode ---
 [511111019862 511111519928 511111819905 ... 511111416173 511111400608
 511111019930]
Unique values of name ---
 ['test brand @1612366101024' 'Starbucks' 'test brand @1612366146176' ...
 'test brand @1598639215217' 'LIPTON TEA Leaves'
 'test brand @1613158231643']
Unique values of brandCode ---
 [nan 'STARBUCKS' 'TEST BRANDCODE @1612366146176'
 'TEST BRANDCODE @1612366146051' 'TEST BRANDCODE @1612366146827'
 'TEST BRANDCODE @1612366146091' 'TEST BRANDCODE @1612366146133'
 'J.L. KRAFT' 'CAMPBELLS HOME STYLE' 'TEST'
 'TEST BRANDCODE @1598813526777' 'CALUMET' '511111205012'
 'AUNT JEMIMA SYRUP' 'MOLSON' 'LOTRIMIN' 'TEST BRANDCODE @1597342520277'
 'ST IVES' 'CHRISIMAGE' 'ALKA SELTZER' "JACK DANIEL'S BARBECUE"
 'MAGNUM Ice Cream' '511111105329' 'TEST BRANDCODE @1598635634882'
 'TACO BELL' 'FROSTED CHEERIOS' 'TEST BRANDCODE @1598639199674'
 'GODIVA DRY PACKAGED DESSERTS' 'LARABAR' 'TEST BRANDCODE @1597350074333'
 'TEST BRANDCODE @1607636368717' 'TEST BRANDCODE @1607707830095'
 'COTTONELLE' 'IZZE' 'MIO' '511111505365' 'QUILTING SPECIAL EDITION'
 'TEST BRANDCODE @1604437351617' 'HERMAN' 'KEVITA' 'DELIMEX'
 'THE RIGHT TO SHOWER' 'CARESS' 'TEST BRANDCODE @1595340086044'
 'TEST BRANDCODE @1597861700968' 'TEST BRAND CODE'
 'TEST BRANDCODE @1598026275245' 'SWANSON' 'TEST BRANDCODE @1598026274668'
 'DASH-2249 1' '511111805854' 'KETTLE BRAND' 'CAMPBELLS SOUP AT HAND '
 'RAINBO' 'CRISPIN' 'TEST BRANDCODE @1607707830137' 'CLARITIN®'
 'COOKIE CRISP' 'TEST BRANDCODE @1605535020442'
 'TEST BRANDCODE @1604946244750' 'SNYDERS OF HANOVER' 'GOOD SEASONS'
 'TEST BRANDCODE @1598633602279' 'REVOLVER' 'KEYSTONE LIGHT'
 'BETTY CROCKER FRUIT ROLL UPS' 'TEST BRANDCODE @1607639232356' 'MOMOFUKU'
 'POPSICLE' 'MUG Root Beer' 'TOMS' 'TEST BRANDCODE @1606765579244'
 'TEST BRANDCODE @1597342520305' 'PROMISE' 'OFF THE EATEN PATH'
 'TEST BRANDCODE @1600291350125' 'TEST BRANDCODE @1603760319758' "NANCY'S"
 'CAMPBELLS CHUNKY MAXX' 'FOOD NETWORK KITCHEN INSPIRATIONS'
 'TEST BRANDCODE @1597935986390' 'TEST BRANDCODE @1598633693744'
 'SABRITAS' 'GEVALIA KAFFE' 'TEST BRANDCODE @1598290603501'
 "O THAT'S GOOD" "CHESTER'S" "MISS VICKIE'S" "SIR KENSINGTON'S" 'DORITOS'
 'A.1.' 'TEST BRANDCODE @1598290603587' 'LOOZA JUICES' 'ALEVE'
 'SOFT-SHEEN CARSON - HAIR COLOR' 'TEST BRANDCODE @1604946245499' ''
 'TEST BRANDCODE @1598639199117' 'PULL UPS'
 'TEST BRANDCODE @1605535020629' 'BRISK' 'CHRISXYZ' "BULL'S-EYE"
 'KLONDIKE' 'FRUTTARE' '511111305569' 'KNOX' '511111505716' 'PLANTERS'
 'DEGREE' "CALEB'S KOLA" 'LEMON LEMON' 'VASELINE' '511111005216'
 'TEST BRANDCODE @1607312532178' 'PINESOL' 'TEST BRANDCODE @1595340086791'
 '511111005148' 'ESSIE' '0987654321' 'CAMPBELLS WELL YES'
 'TEST BRANDCODE @1607312532304' 'TEST BRANDCODE @1598026274643'
 'TEST BRANDCODE @1601644881995' 'BEEF STEAK' "POND'S"
 'L’OREAL PARIS - COSMETICS' '511111605829'
 'TEST BRANDCODE @1595340086078' 'TEST BRANDCODE @1602694020787'
 'TEST BRANDCODE @1601939013649' 'SNACK FACTORY' 'MILLER64'
 "I CAN'T BELIEVE IT'S NOT BUTTER!" '511111805786'
 'TEST BRANDCODE @1610496647142' 'TEST BRANDCODE @1610496646289'
 'TEST BRANDCODE @1610496646345' 'TEST BRANDCODE @1610496646232'
 'TEST BRANDCODE @1610495466218' 'TEST BRANDCODE @1610495102462'
 'TEST BRANDCODE @1610495466250' 'KRAFT MIRACLE WHIP'
 'TEST BRANDCODE @1598042674173' 'TEST BRANDCODE @1598635634796'
 'SHEAF STOUT' 'CHEETOS' 'NATURES HARVEST' '511111605058'
 'TEST BRANDCODE @1598639198570' 'TEST BRANDCODE @1599097538609' 'SCOTT'
 'TEST BRANDCODE @1607639231674' 'EPIC' 'GROLSCH'
 'TEST BRANDCODE @1603760320407' 'MAGNUM' 'TEST BRANDCODE @1603925787411'
 'TEST BRANDCODE @1610495466861' 'TEST BRANDCODE @1610495102526'
 'TEST BRANDCODE @1610495102491' 'TEST BRANDCODE @1610495466175'
 'TEST BRANDCODE @1610495103255' 'TEST BRANDCODE @1610495466285'
 'TEST BRANDCODE @1610049748118' 'TEST BRANDCODE @1610049748181'
 'TEST BRANDCODE @1610049748154' 'TEST BRANDCODE @1610049748724'
 'TEST BRANDCODE @1610053719707' 'TEST BRANDCODE @1607987891932'
 'TEST BRANDCODE @1607987891893' 'TEST BRANDCODE @1607987891852'
 'TEST BRANDCODE @1607987892541' 'TEST BRANDCODE @1607707829962'
 "KILLIAN'S" 'TEST BRANDCODE @1597861700880' "KRAFT SHAKE 'N BAKE" 'HP'
 'DRUMSTICK CEREAL' 'ALEVE D SINUS & COLD' 'CHEEZ WHIZ'
 'TEST BRANDCODE @1607463685522' 'COOL WHIP' 'TRIX' 'FLINTSTONES'
 'ABSOLUT® GRAPEFRUIT' 'ALTOS' 'DEL MAGUEY ' 'JAMESON® BLACK BARREL '
 'JAMESON' 'MONKEY 47' 'MALIBU' 'LILLET' '511111705161' 'AMP2'
 'TEST BRANDCODE @1597861700940' 'TEST BRANDCODE @1604437351567' 'KELSEN'
 '511111405818' 'ALEVE DIRECT THERAPY PAIN RELIEF DEVICES'
 'COLORADO NATIVE' 'SOBE' 'KNUDSEN' '511111105763' '511111005421'
 "CAP'N CRUNCH" "MRS BAIRD'S" 'TRESEMME' 'PURE LEAF Iced Tea Beverages'
 'ONE A DAY KIDS' 'TEST BRANDCODE @1599159968998' 'LIFEWTR' '511111804994'
 'SIMILAC' 'CORICIDIN HBP' 'TEST BRANDCODE @1601939016290' 'BADEDAS'
 'TEST BRANDCODE @1604946244876' 'BENIHANA' 'MOUNTAIN HIGH' 'TOSTITOS'
 'TEST BRANDCODE @1603760319788' 'GERBER BABY FOOD' 'PACE'
 'CAMPBELLS SLOW KETTLE ' 'ARCHWAY' 'BAYER® ASPIRIN'
 'TEST BRANDCODE @1610055793449' 'TEST BRANDCODE @1610055793411'
 'TEST BRANDCODE @1610055793500' 'TEST BRANDCODE @1610055794196'
 'TEST BRANDCODE @1610055793537' 'TEST BRANDCODE @1610058181549'
 'TEST BRANDCODE @1610053719944' 'TEST BRANDCODE @1610053719998'
 'TEST BRANDCODE @1610053719869' 'TEST BRANDCODE @1610053721033' 'DEPEND'
 'TEST BRANDCODE @1608313322283' 'TEST BRANDCODE @1608313321374'
 'TEST BRANDCODE @1608313321191' 'TEST BRANDCODE @1608313321301'
 'TEST BRANDCODE @1608313321222' 'NATURE VALLEY'
 'TEST BRANDCODE @1598633693767' 'TEST BRANDCODE @1598633693791' 'ANZIO'
 '511111705000' "HERSHEY'S WHIPPED TOPPING"
 'TEST BRANDCODE @1598633693720' 'TEST BRANDCODE @1605535020671'
 'IMPERIAL' 'ALEVE PM NIGHT TIME' 'TEST BRANDCODE @1603925787294'
 'APOTHECARE ESSENTIALS' "HENRY WEINHARD'S" 'CAMPBELLS CHUNKY '
 'ONE A DAY® WOMENS' 'TEST BRANDCODE @1595340085980' 'KINGSFORD'
 'YOPLAIT GO-GURT' 'FRITO-LAY' 'GREY POUPON'
 'TEST BRANDCODE @1598296704763' 'BERROCA®' 'PROPEL' "MILWAUKEE'S BEST"
 'SPITZ' 'IMAGINE' 'TEST BRANDCODE @1597342520969' 'TUSK & GRAIN'
 "REDD'S ALE" 'LANCE' 'PACIFIC FOODS' 'YOPLAIT DUNKERS'
 'TEST BRANDCODE @1598554813705' 'LIPTON Soup' 'MINIONS CEREAL'
 'LOVE HOME AND PLANET' 'TEST BRANDCODE @1595968943012' 'ONETOUCH'
 'TEST BRANDCODE @1597935986248' 'KRAFT' 'BASIC 4' 'WOLFGANG PUCK'
 'TEST BRANDCODE @1601659120828' 'TEST BRANDCODE @1603925787441'
 'THE SOULFUL PROJECT' 'TEST BRANDCODE @1598633602924' 'DREAM WHIP'
 'TEST BRANDCODE @1597527951461' 'TEST BRANDCODE @1607639231623'
 'KJELDSEN' 'TEST BRANDCODE @1598635435896'
 'TEST BRANDCODE @1599849713773' 'TEST BRANDCODE @1607636369405'
 'TEST BRANDCODE @1601644363827' 'PEPPERIDGE FARM'
 'TEST BRANDCODE @1611088503689' 'TEST BRANDCODE @1605535020580'
 'MILLER HIGH LIFE' 'QUAKER' '511111705727' 'ATHENOS'
 'TEST BRANDCODE @1599159969028' 'TEST BRANDCODE @1597350074404' 'SEDAL'
 'RED ROCK DELI' 'ALKA SELTZER PLUS SINUS CAP/ GEL/ TAB'
 'TEST BRANDCODE @1598633602253' 'SMARTFOOD'
 'TEST BRANDCODE @1598042673532' 'TEST BRANDCODE @1601939762881'
 'OSCAR MAYER' 'LECH PREMIUM' '511111805137' 'HEINERS' 'PARENTS'
 'PIONEER WOMAN' 'TEST BRANDCODE @1611088504474' '511111605102'
 'HOP VALLEY' 'TEST BRANDCODE @1597861700914' 'YUBAN' '511111105114'
 'TEST BRANDCODE @1603760319682' 'TEST BRANDCODE @1598716509394' 'TIGI'
 "AUTUMN'S GOLD" 'BROOKE BOND' '511111105046'
 'TEST BRANDCODE @1595968943049' 'AMPTEST' 'COORS' 'BOLT 24' 'MIST TWST'
 'TEST BRANDCODE @1608136484526' 'TEST BRANDCODE @1608136485398'
 'TEST BRANDCODE @1608136484574' 'SARGENTO'
 'TEST BRANDCODE @1608136484633' 'TEST BRANDCODE @1608136484689'
 'TEST BRANDCODE @1610038521565' 'TEST BRANDCODE @1610038521677'
 'TEST BRANDCODE @1610038521624' 'TEST BRANDCODE @1610038522559'
 'TEST BRANDCODE @1610040576117' 'TEST BRANDCODE @1610040576672'
 'TEST BRANDCODE @1610040576088' 'TEST BRANDCODE @1610040576148'
 'TEST BRANDCODE @1610040576053' 'ALKA SELTZER PLUS'
 'TEST BRANDCODE @1610653897113' 'TEST BRANDCODE @1610653894519'
 'TEST BRANDCODE @1610660035659' 'TEST BRANDCODE @1610653894662'
 'TEST BRANDCODE @1610653894371' 'TEST BRANDCODE @1601659122798'
 'COCOA PUFFS' 'TEST BRANDCODE @1601659120793' 'JAYS' 'KNORR' 'CRISTAL'
 'TEST BRANDCODE @1607312532874' 'BOCA' 'ALEXA' 'KIX'
 'TEST BRANDCODE @1595531348246' "GRANDMA'S"
 'TEST BRANDCODE @1602694015178' "SHARP'S NEAR BEER" 'BAILEYS' 'FINISH'
 'TEST BRANDCODE @1598639197926' 'TEST BRANDCODE @1602694015743' 'JELL-O'
 'TEST BRANDCODE @1601644364536' 'TEST BRANDCODE @1603925787997'
 'GOLDFISH' 'TEST BRANDCODE @1598633602304'
 'TEST BRANDCODE @1601659120694' 'CAPE LINE'
 'TEST BRANDCODE @1597935987233' 'NEAR EAST' '511111505150' 'CLOROX'
 'MAY-BUD' 'TEST BRANDCODE @1599849713798' 'GATORADE'
 'TEST BRANDCODE @1597342520132' 'GARDEN FRESH GOURMET'
 'AUNT JEMIMA DRY BREAKFAST MIXES' 'OLDE ENGLISH'
 'TEST BRANDCODE @1600291349255' 'MATADOR' '511111305286' "REESE'S PUFFS"
 'GOLDEN GRAHAMS' 'TEST BRANDCODE @1598026274692' '511111805342'
 'TEST BRANDCODE @1598554813744' 'RICE-A-RONI' 'STELLA DORO'
 'TEST BRANDCODE @1598813526686' 'TEST BRANDCODE @1604437351678'
 'CAMPBELLS READY MEALS' 'RESOLVE' 'MAUI STYLE' 'CULTURE REPUBLICK '
 'WHEATIES' 'TEST BRANDCODE @1601644882062'
 'TEST BRANDCODE @1601939013444' '511111805571'
 'TEST BRANDCODE @1598635634821' 'TEST BRANDCODE @1607707830844' 'ZIMA'
 'TEST BRANDCODE @1598026274609' 'CHESTERS'
 'TEST BRANDCODE @1601644363784' 'CAPE COD' 'COUNTRY CROCK PLANT BUTTER'
 '511111205388' 'CHOCOLATE LUCKY CHARMS' 'TEST BRANDCODE @1598554813535'
 'TEST BRANDCODE @1610493496975' 'TEST BRANDCODE @1610495102411'
 'TEST BRANDCODE @1610494831056' 'TEST BRANDCODE @1610494831082'
 'TEST BRANDCODE @1610494831023' 'TEST BRANDCODE @1610493497005'
 'TEST BRANDCODE @1610493497517' 'TEST BRANDCODE @1610493497034'
 'TEST BRANDCODE @1610494830985' 'TEST BRANDCODE @1610494831583'
 'TEST BRANDCODE @1608313051339' 'TEST BRANDCODE @1608313051291'
 'TEST BRANDCODE @1608313052049' 'TEST BRANDCODE @1608313051133'
 'TEST BRANDCODE @1608313051244' 'BALL PARK'
 'TEST BRANDCODE @1598290603618' 'HIDDEL BARREL COLLECTION' 'LAUNCH BOX'
 'SIMPLE' 'SALON SELECTIVES' 'CRACKER BARREL' 'HUGGIES LITTLE SWIMMERS'
 'TEST BRANDCODE @1598042673502' 'TEST BRANDCODE @1607707830173' 'SHREDS'
 'BAKEN ETS' 'HONEY NUT CHEERIOS' 'DASH-2249 1 BRAND 1' 'CRACKER JACK'
 'GERBER GOOD START' 'TEST BRANDCODE @1598554813654'
 'TEST BRANDCODE @1598635436505' 'TEST BRANDCODE @1597527951436'
 'BETTER HOMES & GARDENS' 'BIMBO' "LEINENKUGEL'S" 'NESTLE NAN'
 'TEST BRANDCODE @1598042673466' 'JET-PUFFED'
 'TEST BRANDCODE @1601644882548' 'HEALTH' 'TEST BRANDCODE @1601644882019'
 'TEST BRANDCODE @1601644363876' '511111705444' 'MUNCHIES' '511111605775'
 'TEST BRANDCODE @1607463684816' 'TEST BRANDCODE @1598633694347'
 'TEST BRANDCODE @1598296704639' "ANNIE'S" 'TEST BRANDCODE @1598881562991'
 'TEST BRANDCODE @1598813526656' 'MIDOL' 'TWISTED RANCH' 'EMERALD'
 'TEST BRANDCODE @1598881562500' 'TEST BRANDCODE @1598711015538'
 'HERSHEYS HOT COCOA' 'PG TIPS' 'MUNCHOS' 'LUNCHABLES' 'WOOLITE'
 '511111104971' 'HUGGIES' 'TEST BRANDCODE @1598711015353'
 'TEST BRANDCODE @1605535021531' 'BISCA' 'TEST BRANDCODE @1598881563900'
 'TEST BRANDCODE @1601939762909' 'PERONI' 'TEST BRANDCODE @1598554814581'
 'TEST BRANDCODE @1607463684722' 'BETTY CROCKER GUSHERS'
 'TEST BRANDCODE @1597861701615' 'LUCKY CHARMS' 'BACK TO NATURE DINNERS'
 'TEST BRANDCODE @1597350074366' 'TEST BRANDCODE @1606765578747'
 '511111305125' 'GRANDMA SYCAMORE' 'MERMAID CEREAL'
 'TEST BRANDCODE @1597350074237' 'AQUAFINA' ' SOBE' '511111905240'
 'TEST BRANDCODE @1599849713825' 'CAMPBELLS DINNER SAUCES ' 'WILD STYLE'
 'DOVE BODY' 'TEST BRANDCODE @1601939012950'
 'TEST BRANDCODE @1597342520238' 'WEIGHT WATCHERS SMART ONES'
 'ALEVE LIQUID GELS' 'SANTITAS' 'FRUIT LOVE' 'TROPICANA' 'RAISIN NUT BRAN'
 '511111405696' 'VELVEETA' 'GOOD HUMOR' 'JUST CRACK AN EGG'
 'TEST BRANDCODE @1604946244789' '511111305071'
 'TEST BRANDCODE @1598813526618' 'PEPSI' "MOTT'S" 'RIBERHUS'
 "HERSHEY'S PUDDING" 'TEST BRANDCODE @1599097538395'
 'TEST BRANDCODE @1607636368260' 'GO & GROW'
 'TEST BRANDCODE @1595968943087' 'COUNTRY CROCK' "STACY'S" "MR. YOSHIDA'S"
 'TEST BRANDCODE @1604437352151' 'TEST BRANDCODE @1595531348410'
 'TEST BRANDCODE @1598296705444' 'LEA & PERRINS' 'HEINZ' 'SARA LEE '
 'TEST BRANDCODE @1602694015481' 'OVEN FRY'
 'TEST BRANDCODE @1598716510157' 'TWO HATS' 'STARBUCKS Bottled Drinks'
 'FRITOS' 'PASTA RONI' 'BRAND CODE' 'ALLRECIPES' 'V8 V FUSION '
 'TEST BRANDCODE @1599097538537' 'H20H' 'MILLER GENUINE DRAFT'
 'TEST BRANDCODE @1603760319814' 'AMAZING GRAINS'
 'TEST BRANDCODE @1595531348374' 'CHOCOLATE CHEERIOS' 'ONE' 'KEYSTONE ICE'
 'DIGIORNO CHEESE' 'CALEBS KOLA' 'TEST BRANDCODE @1611088503776'
 'PILSNER URQUELL' 'TEST BRANDCODE @1597935986474' ' MILANO'
 'GENERAL MILLS CEREAL' 'TEST BRANDCODE @1598635635448' 'CLEAR'
 'ARNOLD PALMER SPIKED HALF & HALF ORIGINAL' 'ABSOLUT® LIME'
 'ABSOLUT® JUICE STRAWBERRY' 'ABSOLUT® ORIGINAL' 'ABSOLUT® MANDRIN'
 'ABSOLUT ELYX' 'ABSOLUT® JUICE APPLE' 'ABERLOUR' 'JAMESON COLD BREW '
 'JEFFERSON’S RESERVE' 'CAMPO VIEJO' 'KAHLUA' 'MUMM NAPA ' 'MALFY'
 'MALIBU® LIME' 'MALIBU® STRAWBERRY' 'REDBREAST 12YO '
 'TEST BRANDCODE @1597527951412' 'SOL' 'TEST BRANDCODE @1599159969725'
 "WYLER'S" 'TEST BRANDCODE @1601939762943' 'FAT RABBIT' 'TOTAL'
 'TEST BRANDCODE @1598635435829' 'TEST BRANDCODE @1607708191093'
 'MALIBU® PINEAPPLE' 'PURE BLISS' 'ROYAL DANSK'
 'TEST BRANDCODE @1598711015578' 'DEVOUR' 'CAMPBELLS'
 'TEST BRANDCODE @1595340086011' 'STUBBORN SODA' 'AVION'
 'TEST BRANDCODE @1610039590413' 'TEST BRANDCODE @1610039590349'
 'TEST BRANDCODE @1610039590443' 'TEST BRANDCODE @1610039590383'
 'TEST BRANDCODE @1610039590990' 'TEST BRANDCODE @1610495622485'
 'TEST BRANDCODE @1610496646104' 'TEST BRANDCODE @1610495622510'
 'TEST BRANDCODE @1610495623019' 'TEST BRANDCODE @1610495622536'
 'TEST BRANDCODE @1610495622560' 'ONE A DAY' '511111705239'
 'COUNTRY CROCK ORIGINAL' "HELLMANN'S/BEST FOODS"
 'TEST BRANDCODE @1597527951382' 'TEST BRANDCODE @1601644882040'
 'TEST BRANDCODE @1597527952048' 'TEST BRANDCODE @1595968943787' 'TALENTI'
 'TEST BRANDCODE @1598635634767' '511111305842' 'RED DOG' 'SMITH & FORGE'
 'LIPTON Iced Tea Beverages' 'RUFFLES' 'V8 PLUS ENERGY ' 'POP SECRET'
 'TEST BRANDCODE @1601939763539' 'CAPRI SUN' 'NUT HARVEST'
 'TEST BRANDCODE @1598881563437' 'TEST BRANDCODE @1600291349208'
 'HENRY WEINHARDS' 'TEST BRANDCODE @1599097539367' '511111905035'
 'FRUITY CHEERIOS' 'FLINTSTONES MULTIVITAMIN GUMMY' "FOSTER'S"
 'F WHITLOCK AND SONS' 'TEST BRANDCODE @1610046687007'
 'TEST BRANDCODE @1610046687035' 'TEST BRANDCODE @1610046686980'
 'TEST BRANDCODE @1599097538572' "I CAN'T BELIEVE IT'S NOT BUTTER"
 'TEST BRANDCODE @1607463684777' 'BAKEN-ETS' 'LIBERTE'
 'APPLE CINNAMON CHEERIOS' 'ST STEFANUS' 'DOLE CHILLED FRUIT JUICES'
 'SUAVE' 'CLASSICO' 'STROEHMANN' 'BUBLY' '1915 BOLTHOUSE FARMS'
 'TEST BRANDCODE @1610046687624' 'TEST BRANDCODE @1610046686954'
 'TEST BRANDCODE @1610049748079' 'MIRALAX LAXATIVES'
 'TEST BRANDCODE @1607708191128' 'TEST BRANDCODE @1607708191160'
 'TEST BRANDCODE @1607708191197' 'TEST BRANDCODE @1607708191721'
 'TEST BRANDCODE @1610562208718' 'TEST BRANDCODE @1610653894219'
 'TEST BRANDCODE @1610562208600' 'TEST BRANDCODE @1610562208645'
 'TEST BRANDCODE @1610562209325' 'TEST BRANDCODE @1610562208680'
 'TEST BRANDCODE @1610660035827' 'TEST BRANDCODE @1610660035788'
 'TEST BRANDCODE @1610660036398' 'TEST BRANDCODE @1610718082494'
 "T.G.I. FRIDAY'S" 'CUSQUENA' 'ARNOLD' 'MC CAFE' 'O-KE-DOKE'
 'TEST BRANDCODE @1607312532260'
 'ALKA SELTZER ADULT HEARTBURN CHEWS/ GUMMY/ TAB'
 'TEST BRANDCODE @1595531348450' 'TEST BRANDCODE @1598635435926'
 'TEST BRANDCODE @1607636368136' 'OATMEAL CRISP'
 'TEST BRANDCODE @1609794603283' "PHILLIPS'®DIGESTIVE"
 'TEST BRANDCODE @1610660035741' 'TEST BRANDCODE @1609794603237'
 'TEST BRANDCODE @1609794603367' 'TEST BRANDCODE @1609794603327'
 'TEST BRANDCODE @1609794603942' 'TEST BRANDCODE @1610038521409'
 'TEST BRANDCODE @1610718082601' 'TEST BRANDCODE @1610718083279'
 'TEST BRANDCODE @1610718082685' 'TEST BRANDCODE @1610718082644'
 'TEST BRANDCODE @1610135036684' 'TEST BRANDCODE @1610493496943'
 'TEST BRANDCODE @1610493089082' 'TEST BRANDCODE @1610135035614'
 'TEST BRANDCODE @1610135035679' 'TEST BRANDCODE @1610135035546'
 'TEST BRANDCODE @1610493088287' 'TEST BRANDCODE @1610493088459'
 'TEST BRANDCODE @1610493088421' 'TEST BRANDCODE @1610493088494'
 'TEST BRANDCODE @1610058181760' 'TEST BRANDCODE @1610135035332'
 'TEST BRANDCODE @1610058182453' 'TEST BRANDCODE @1610058181682'
 'TEST BRANDCODE @1610058181719' 'HERSHEYS CEREAL'
 'TEST BRANDCODE @1598296704728' 'AMP' '511111905318' 'AXE'
 'TEST BRANDCODE @1598635435855' 'TEST BRANDCODE @1606765582946'
 "ALEXA-O'S" '511111005704' '511111805069' 'STEEL RESERVE'
 'POP WORKS & COMPANY' 'SABRITONES' '511111205456' 'SURE-JELL' 'TERRAPIN'
 'SMART MADE' '511111405023' 'LOVE BEAUTY AND PLANET' 'PROTEIN ONE'
 '511111605492' 'TEST BRANDCODE @1603925787381' 'KOOL-AID'
 'TEST BRANDCODE @1601939013241' 'ABSOLUT® CITRON' 'AVION R44'
 'TEST BRANDCODE @1607639231710' 'MILLER FORTUNE' 'LEVER 2000' 'A+D'
 'PULLUPS' 'TEST BRANDCODE @1606765578435' 'MOUNTAIN DEW' 'SUN CHIPS'
 'TEST BRANDCODE @1598813527796' 'PURE LEAF Tea Leaves' 'CORN NUTS'
 "BREAKSTONE'S" 'SPARKS' 'TEST BRANDCODE @1598716509358' 'MAXWELL HOUSE'
 'TEST BRANDCODE @1599849714378' 'TEST BRANDCODE @1598711015496'
 'CONTINENTAL SOUP' 'GARNIER - HAIR COLOR' 'AFRIN® NASAL SPRAY'
 'GOODBELLY' 'NEXXUS' 'V8' "COLMAN'S" 'PREGO'
 'TEST BRANDCODE @1606765578985' 'BRUMMEL & BROWN' 'YQ YOPLAIT'
 '511111805298' 'TEST BRANDCODE @1604946244833'
 'ALKA SELTZER COLD AND FLU TAB/ CAPS/ GEL'
 'TEST BRANDCODE @1595531349206' '511111905806' '09090909090'
 '511111105831' 'DIETCHRIS2' 'BOLD BUTCHER' "LAY'S" "BEN & JERRY'S"
 'TEST BRANDCODE @1598716509304' 'FRS920' 'TEST BRANDCODE @1598042673378'
 'V8 HYDRATE' 'COUNTRY TIME' 'TEST BRANDCODE @1611088503732' 'NAKED JUICE'
 'BREYERS' 'TEST BRANDCODE @1604437351646' '511111105275'
 'GIRL SCOUT CEREAL' 'MILLER LITE' 'THIRD SHIFT' 'GOODNITES'
 'TEST BRANDCODE @1599159969061' 'TEST BRANDCODE @1604434433706'
 'MAYBELLINE' 'YOPLAIT' 'TEST BRANDCODE @1598290604214'
 'TEST BRANDCODE @1607463684591' 'L’OREAL PARIS - HAIR COLOR'
 'ALEVE CAPLETS, TABLETS, AND GEL CAPS' '511111605263'
 'TEST BRANDCODE @1598633602226' 'TEST BRANDCODE @1607987891733'
 'SAINT ARCHER' 'PHILADELPHIA' 'LATE JULY' 'FREIHOFERS' 'TYSKIE GRONIE'
 'KLEENEX' 'TEST BRANDCODE @1601659120870' 'EL ISLENO' "MAISER'S "
 'TEST BRANDCODE @1601939762976' 'VIVA' 'POISE'
 'TEST BRANDCODE @1607639231747' 'ORE-IDA' '511111605331' 'BIAGLUT'
 'BITTEN' 'TANG' 'PLUM ORGANICS' 'THE GLENLIVET CARIBBEAN RESERVE'
 "THE GLENLIVET® FOUNDER'S RESERVE" 'THE GLENLIVET® 12 YEAR ' 'TASSIMO'
 'DIPPIN DOTS' 'STOVE TOP' 'BROWNBERRY' 'TEST BRANDCODE @1601644363664'
 'OUI BY YOPLAIT' 'CERVEZA AGUILA' 'TEST BRANDCODE @1598716507602'
 'TEST BRANDCODE @1600291349297' 'ICEHOUSE' 'FDS' 'BOLTHOUSE FARMS'
 'Q-TIPS' "HOFFMAN'S" 'BETTY CROCKER FRUIT BY THE FOOT' 'ZUMBIDA'
 'TEST BRANDCODE @1598296704794' 'TEST BRANDCODE @1607636368759'
 'KRUNCHERS' 'TEST BRANDCODE @1607312532218' 'FUNYUNS'
 'CAMPBELLS SPAGHETTIOS' 'BRUMMEL AND BROWN'
 'TEST BRANDCODE @1597350074997' 'TEST BRANDCODE @1598711019491'
 'SIERRA MIST' 'TEST BRANDCODE @1598881572443'
 'TEST BRANDCODE @1598290603646' 'TEST BRANDCODE @1599159969108' 'OROWEAT'
 'ROLD GOLD' 'TEST BRANDCODE @1611088503815'
 'TEST BRANDCODE @1602694015992' 'TEST BRANDCODE @1595968942896'
 'V8 SPLASH' 'KOTEX' '511111505082' 'OCEAN SPRAY' '511111305798'
 'BAGEL BITES' 'POLLY-O' 'SUNSILK' "BAKER'S" 'ECCE PANIS' '511111405306'
 'AIR WICK' "HAMM'S" 'TEST BRANDCODE @1599849713740' 'MONSTERS CEREAL'
 ' TAZO BOTTLED TEAS' 'TONI&GUY' '511111005377' '511111905479'
 'TEST BRANDCODE @1597935986434' "MICKEY'S" 'CRYSTAL LIGHT'
 'COORS EXTRA GOLD' 'D ITALIANO' 'TEST BRANDCODE @1600291349043'
 'CLAUSSEN' 'BLUE MOON' 'DIPPIN DOTS CEREAL'
 'TEST BRANDCODE @1598639215217' 'LIPTON TEA Leaves'

#### Reciepts Dataset Analysis

In [11]:
#Explore reciepts dataset on  a high level
reciepts.head(5)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [12]:
reciepts.dtypes

_id                         object
bonusPointsEarned          float64
bonusPointsEarnedReason     object
createDate                  object
dateScanned                 object
finishedDate                object
modifyDate                  object
pointsAwardedDate           object
pointsEarned               float64
purchaseDate                object
purchasedItemCount         float64
rewardsReceiptItemList      object
rewardsReceiptStatus        object
totalSpent                 float64
userId                      object
dtype: object

In [13]:
reciepts.shape

(1119, 15)

In [14]:
reciepts.rewardsReceiptStatus.unique()

array(['FINISHED', 'REJECTED', 'FLAGGED', 'SUBMITTED', 'PENDING'],
      dtype=object)

In [15]:
reciepts.bonusPointsEarnedReason.value_counts()

All-receipts receipt bonus                                                             183
Receipt number 1 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)    119
COMPLETE_NONPARTNER_RECEIPT                                                             71
COMPLETE_PARTNER_RECEIPT                                                                39
Receipt number 3 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     31
Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     30
Receipt number 5 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     27
Receipt number 4 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     26
Receipt number 6 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)     18
Name: bonusPointsEarnedReason, dtype: int64

In [16]:
df_temp =reciepts[['bonusPointsEarnedReason','bonusPointsEarned','pointsEarned']]
df_temp = df_temp.drop_duplicates()
df_temp[df_temp['bonusPointsEarned'] == df_temp['pointsEarned']]

,bonusPointsEarnedReason,bonusPointsEarned,pointsEarned
0,"Receipt number 2 completed, bonus point schedu...",500.0,500.0
1,"Receipt number 5 completed, bonus point schedu...",150.0,150.0
2,All-receipts receipt bonus,5.0,5.0
5,"Receipt number 1 completed, bonus point schedu...",750.0,750.0
9,"Receipt number 3 completed, bonus point schedu...",250.0,250.0
10,"Receipt number 6 completed, bonus point schedu...",100.0,100.0
14,"Receipt number 4 completed, bonus point schedu...",300.0,300.0
47,COMPLETE_NONPARTNER_RECEIPT,25.0,25.0

In [17]:
df_temp[df_temp['bonusPointsEarned'] != df_temp['pointsEarned']]

,bonusPointsEarnedReason,bonusPointsEarned,pointsEarned
12,"Receipt number 5 completed, bonus point schedu...",150.0,8850.0
15,NaN,NaN,NaN
20,"Receipt number 4 completed, bonus point schedu...",300.0,389.2
23,COMPLETE_PARTNER_RECEIPT,40.0,185.0
27,COMPLETE_NONPARTNER_RECEIPT,25.0,35.0
...,...,...,...
643,NaN,NaN,209.8
664,NaN,NaN,210.0
667,NaN,NaN,209.5
917,"Receipt number 1 completed, bonus point schedu...",750.0,789.2
956,"Receipt number 2 completed, bonus point schedu...",500.0,3500.0

##### Comments: 

A clear understanding of how the data is saved to `bonusPointsEarned` and `pointsEarned` cannot be gained. Sometimes the value is same and sometimes it is not. There could possibly be a better way to store this data.

In [18]:
reciepts.rewardsReceiptItemList

0       [{'barcode': '4011', 'description': 'ITEM NOT ...
1       [{'barcode': '4011', 'description': 'ITEM NOT ...
2       [{'needsFetchReview': False, 'partnerItemId': ...
3       [{'barcode': '4011', 'description': 'ITEM NOT ...
4       [{'barcode': '4011', 'description': 'ITEM NOT ...
                              ...
1114    [{'barcode': 'B076FJ92M4', 'description': 'mue...
1115                                                  NaN
1116                                                  NaN
1117    [{'barcode': 'B076FJ92M4', 'description': 'mue...
1118                                                  NaN
Name: rewardsReceiptItemList, Length: 1119, dtype: object

##### Comments :

reciepts violates 1NF due to presence of nested data/array. Hence it is not a relational model.
Relation Decomposition is necessary to convert it into a relational model.

##### Test data integrity of data

In [19]:
#udf for aggregating total finalPrice of each item in reciept item list of a given reciept

def agg_finalPrice_receipt_itms(row):
    columns = ['barcode','description','finalPrice','quantityPurchased']
    df_rct_itms = pd.DataFrame(columns = columns)
    data = []

    for dic in row['rewardsReceiptItemList']:
#             for dic in item:
                values =[dic.get('barcode')
                        ,dic.get('description')
                        ,float(dic.get('finalPrice'))
                        ,dic.get('quantityPurchased')]
                zipped = zip(columns, values)
                a_dictionary = dict(zipped)
                data.append(a_dictionary)

    df_rct_itms = df_rct_itms.append(data, True)
    return [row.totalSpent,round(df_rct_itms.finalPrice.sum(),2)]

In [20]:
reciepts.iloc[[423]].apply(agg_finalPrice_receipt_itms, axis=1)
reciepts.iloc[[650]].apply(agg_finalPrice_receipt_itms, axis=1)

423    [1183.1, 1183.1]
dtype: object

650    [28.0, 28.0]
dtype: object

##### Noteworthy:
This code could be further enhanced to make a mapping of reciept index, totalSpent, sum(finalPriceofRctItems) on entire dataset

In [21]:
reciepts.apply(agg_finalPrice_receipt_itms, axis=1)

TypeError: float() argument must be a string or a number, not 'NoneType'

In [ ]:
for item in reciepts.iloc[[423]].rewardsReceiptItemList:
     for dic in item:
        print([k  for  k in  dic.keys()])